.actions {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.errorSummary {
  margin-bottom: var(--spacing-6);

  ul {
    margin: var(--spacing-2) 0 0;
    padding-left: var(--spacing-5);
  }

  a {
    color: var(--invalid-color);
  }
}
